<template>
    <div id="app">
        <div class="border-bottom my-4"></div>
        <h5 class="mb-4">{{ numOfComments }} Comments</h5>
        <comment-block :comments="comments"></comment-block>
    </div>
</template>

<script>
import CommentBlock from './CommentBlock.vue'

export default {
    name: "comment",
    components: {
        CommentBlock,
    },
    data() {
        return{
            comments:[
                {
                    userName: "Harry Potter",
                    imgPath: require("../assets/Harry Potter.jpg"),
                    timeStamp: 1593316800,
                    content: "I love this.",
                    email: ""
                },
                {
                    userName: "Tracer",
                    imgPath: require("../assets/Tracer.jpg"),
                    timeStamp: 1593319800,
                    content: "I agree with Harry Potter.",
                    email: ""
                }
            ],
        }
    },
    computed: {
        numOfComments(){
            return this.comments.length
        },
    }
}
</script>

<style scoped>
    
</style>