<template>
    <div id="app">
        <div class="media mb-5" v-for="comment in comments" :key="comment">
            <img :src="comment.imgPath" alt="comment.userName" height="100" width="100" class="rounded-circle">
            <div class="media-body ml-4">
                <h6 class="my-2">{{ comment.userName }}</h6>
                <p class="small text-muted"> <i class="far fa-clock mr-1"></i>{{ transDate(comment.timeStamp) }}</p>
                <p class="text-small mb-4">{{ comment.content }}</p>
                <el-button size="mini" icon="el-icon-edit-outline"> Reply</el-button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "commentBlock",
    props: {
        comments: {
            type: Array,
            require: true,
        }
    },
    data() {
        return {
        }
    },
    methods: {
        transDate(time) {
            var date = new Date(time*1000);
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
            var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
            var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
            var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
            return Y+M+D+h+m+s;
        }
    },
    computed: {
        
    }
}
</script>

<style scoped>

</style>