<template>
    <div id="app">
        <my-header></my-header>
        <my-main pageName="DRY MARTINI" 
            :para1="para1"
            :imgPath1="imgPath1"
            :imgCaption1="imgCaption1"
            :imgPath2="imgPath2"
            :imgCaption2="imgCaption2"
            :para2="para2"
            :title1="title1"
            :para3="para3"
            :para4="para4"
            :para5="para5"
        ></my-main>
        <my-footer></my-footer>
    </div>
</template>
<script>
import MyHeader from './MyHeader.vue'
import MyMain from './MyMain.vue'
import MyFooter from './MyFooter.vue'

export default {
    name:'Dry Martini',
    components: {
        MyHeader,
        MyMain,
        MyFooter
    },
    data() {
        return{
            para1: "Is there anything finer than the Martini? It has been written about since the early 1900s,"+
                "and there’s certainly no drink more famous than the Martini. It’s the drink that made Hemingway’s protagonist"+
                "feel “civilised”, in A Farewell To Arms: “The sandwiches came and I ate three and drank a couple more martinis."+
                "I had never tasted anything so cool and clean,” he writes.",
            imgPath1: require("../assets/Dry Martini.jpg"),
            imgCaption1: "Photography Credit: The Oxford Magazine",
            imgPath2: require("../assets/Dry Martini Recipe.jpg"),
            imgCaption2: "Photography Credit: Chowhound",
            para2: "<p> <strong>It's clean, simple and comes in an elegant cocktail glass.</strong>"+
                        "There's no denying it: Dry Martini is a classy drink."+
                        "And for the most part, people look good drinking Dry Martini."+
                    "<p>The martini is a cocktail made with gin and vermouth, and garnished with an olive or a lemon twist. Over"+
                        "the years, the martini has become one of the best-known mixed alcoholic beverages."+
                    "</p>"+
                    "<p> A dry martini is made with dry, white vermouth. By the Roaring Twenties, it became a common drink order."+
                        "Over the course of the 20th century, the amount of vermouth steadily dropped. During the 1930s the ratio was"+
                        "3:1 (gin to vermouth), and during the 1940s the ratio was 4:1. During the latter part of the 20th century,"+
                        "6:1, 8:1, 12:1, 15:1 (the 'Montgomery', after British Field Marshal Bernard Montgomery's supposed penchant"+
                        "for attacking only when in possession of great numerical superiority), or even 50:1 or 100:1 Martinis"+
                        "became considered the norm."+
                    "</p>"+
                    "</p>",
            title1: "<h2 class='my-4'>It's the Elixir of Quietude</h2>",
            para3:  "<blockquote class='blockquote my-4'>'the only American invention as perfect as the sonnet' ---"+
                        "<a href='https://en.wikipedia.org/wiki/H._L._Mencken' target='_blank'>"+
                            "H. L. Mencken"+
                            "</a>."+
                            "It is also one of six basic drinks listed in David A. Embury's"+
                            "<a href='https://en.wikipedia.org/wiki/The_Fine_Art_of_Mixing_Drinks' target='_blank'>"+
                            "<i>Fine Art of Mixing Drinks.</i>"+
                            "</a>"+
                        "</blockquote>",
            para4: "<h3 class='mb-4'>How Did Dry Martini Come to This World</h3>"+
                    "<p class='mb-4'>The exact origin of the martini is unclear. A popular theory suggests it evolved from a"+
                        "cocktail called the Martinez served sometime in the early 1860s at the Occidental Hotel in San Francisco,"+
                        "which people frequented before taking an evening ferry to the nearby town of Martinez, California."+
                        "Alternatively, residents of Martinez say a bartender in their town created the drink, while another"+
                        "source indicates that the drink was named after the town. Indeed, a 'Martinez Cocktail' was first described"+
                        "in Jerry Thomas' 1887 edition of his"+
                        "<i>Bartender's Guide, How to Mix All Kinds of Plain and Fancy Drinks.</i>"+
                    "</p>"+
                    "<p class='mb-4'>Other bartending guides of the late 19th century contained recipes for numerous cocktails"+
                        "similar to the modern-day martini. For example, Harry Johnson's <i>Bartenders' Manual (1888)</i> listed a"+
                        "recipe for a drink that consisted in part of half a wine glass of Old Tom gin and a half a wine glass of"+
                        "vermouth."+
                    "</p>"+
                    "<p class='mb-4'>The first dry martini is sometimes linked to the name of a bartender who concocted the drink"+
                        "at the <a href='https://en.wikipedia.org/wiki/Knickerbocker_Hotel_(New_York)' target='_blank'>Knickerbocker Hotel</a> in New"+
                        "York City in 1911 or 1912. The 'Marguerite Cocktail', first described"+
                        "in 1904, could be considered an early form of the dry martini, because it was a 2:1 mix of Plymouth dry gin"+
                        "and dry vermouth, with a dash of orange bitters."+
                    "</p>"+
                    "<p class='mb-4'>During Prohibition in the United States, during the mid-20th century, the relative ease of"+
                        "illegal gin"+
                        "manufacture led to the martini's rise as the locally predominant cocktail. With the repeal of Prohibition,"+
                        "and the ready availability of quality gin, the drink became progressively drier. In the 1970s and '80s, the"+
                        "martini came to be seen as old-fashioned and was replaced by more intricate cocktails and wine spritzers,"+
                        "but the mid-1990s saw a resurgence in the drink and numerous new versions."+
                    "</p>"+
                    "<p class='mb-4'>"+
                        "Some newer drinks include the word 'martini' or the suffix '-tini' in the name (e.g., appletini, peach"+
                        "martini, chocolate martini, Espresso Martini). These are so named because they are served in a martini"+
                        "cocktail glass. Generally containing vodka, they share little in common with the martini."+
                    "</p>",
            para5:"<h3 class='mb-4'>One third, Two-Thirds Dry Gin, Shaken, Garnished and Served On or Off the Rocks</h3>"+
                    "<ul>"+
                        "<li>...with olive or lemon.</li>"+
                    "</ul>"+
                    "<p>The history of this cocktail is not without incident. It is a potentially lethal mixture of a raw spirit –"+
                        "gin – with a distillation of the vine, and you were always taught never to combine the two in one glass. The"+
                        "invention was American, perhaps taking place during the years of prohibition and after, again perhaps in New"+
                        "York City, where the Three Martini Lunch soon became fashionable, though it never really disturbed the good"+
                        "American tradition of hard work and commercial success. Manhattan spies tell me it first appeared in either"+
                        "the Algonquin hotel, or the St. Regis, both ultra fashionable with what used to be termed ‘The Upper Class’"+
                        "US citizen, usually male."+
                    "</p>"+
                    "<p>"+
                        "There are many receipts for the making of this explosive sip. Ben Schott says it is Dry Vermouth one third,"+
                        "two-thirds Dry Gin, shaken, garnished and served <i>on or off the rocks</i>. Professional barmen will"+
                        "disagree with"+
                        "the words in italics. ‘Ginger’ Taylor, for half his life chief barman at the Connaught Hotel in Carlos"+
                        "Place, W.I. Had a different method: Half fill your cocktail shaker with fresh ice cubes; pour gently over"+
                        "the ice either Gordon’s or Beefeater’s best gin while you count four seconds out loud: then pour Dry"+
                        "Vermouth just as gently, also counting four seconds. Close the coctelera and shake vigorously as if you are"+
                        "playing the marracas; pour into a special martini-glass and add an unstoned green olive"+
                        "speared with a wood toothpick (or you may own your own pure silver implement). The ice cubes must be"+
                        "prevented from entering the glass by a special filter in the top of the shaker. Sip slowly and do not smoke"+
                        "while sipping, as the tobacco spoils the unique taste."+
                    "</p>"
        }
    }
}
</script>

<style scoped>

</style>