<template>
    <div id="wrapper">
        <my-header></my-header>
        <el-carousel :interval="5000" arrow="always" type="card" :height="bannerHeight+'px'">
            <el-carousel-item v-for="(img,index) in imgList" :key="index">
                <img ref="bannerHeight" v-bind:src="img.url" class="bannerImg" @load="imgLoad()">
            </el-carousel-item>
        </el-carousel>
        <section class="py-5">
            <div class="container py-5">
                <h2 class="mb-4">
                    This is Alcoholic 101 -- Cocktail Kaleidoscope
                </h2>
                <p class="lead">
                    History, ingredient, famous bar and bartender... and everything behind those mainstream cocktails you
                    love.
                </p>
                <p class="text-small">For cocktail lovers, by cocktail lovers.</p><a href="Old Fashioned.html"
                    class="btn btn-outline-primary btn-sm">Read More</a>
            </div>
        </section>
        <section class="bg-gray py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                    <a href="#" class="d-block">
                        <img src="../assets/Old Fashioned Recipe.jpg" alt="" class="img-fluid mb-4">
                    </a>
                    <h3 class="h5 mb-4"><a href="#" class="text-dark">Old Fashioned - World Classic Series</a></h3>
                    <p class="text-small">The old fashioned is a cocktail made by muddling sugar with bitters,
                        adding whiskey or, less commonly, brandy, and garnishing with a twist of citrus rind and a
                        cocktail cherry.
                        It is traditionally served in an old fashioned glass (also known as rocks glass), which predated
                        the
                        cocktail...
                    </p>
                    <a href="Old Fashioned.html" class="btn btn-outline-primary btn-sm">
                        Continue reading
                    </a>
                </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <a href="#" class="d-block">
                            <img src="../assets/Margarita Recipe.jpg" alt="" class="img-fluid mb-4">
                        </a>
                        <h3 class="h5 mb-4"><a href="#" class="text-dark">Margarita - World Classic Series</a></h3>
                        <p class="text-small">The margarita, the quintessential cocktail, seemingly the unbeatable king of
                            the tequila
                            family. Starting from
                            humble origins in Mexico badlands, this drink has risen to become the favorite beverage of suave
                            socialites and
                            partying sorority girls alike...
                        </p>
                        <a href="Margarita.html" class="btn btn-outline-primary btn-sm">
                            Continue reading
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#" class="d-block">
                            <img src="../assets/Dry Martini Recipe.jpg" alt="" class="img-fluid mb-4">
                        </a>
                        <h3 class="h5 mb-4"><a href="#" class="text-dark">DIY Classroom</a></h3>
                        <p class="text-small">
                            Come and discover how to make your own favourite cocktails at home...
                        </p>
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Continue reading
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container py-5">
                <h2 class="mb-5">Fun Tools</h2>
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="icon mb-4"><el-button type="primary" size="medium" icon="el-icon-magic-stick" circle plain></el-button></div>
                        <h5 class="lined mb-4">Cocktail Recommendation</h5>
                        <p class="text-muted text-small">Wanna try something new? Try our online survey for your ideal
                            cocktail!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="icon mb-4"><el-button type="success" size="medium" icon="el-icon-cold-drink" circle plain></el-button></div>
                        <h5 class="lined mb-4">DIY Animation</h5>
                        <p class="text-muted text-small">Try to make your own cocktail with drag and click animations!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="icon mb-4"><el-button type="danger" size="medium" icon="el-icon-lollipop" circle plain></el-button></div>
                        <h5 class="lined mb-4">Random</h5>
                        <p class="text-muted text-small">Don't know what to read? Try this.</p>
                    </div>
                </div>
                <!-- <h2 class="mb-5">Tools</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="icon mb-4"><i class="pe-7s-monitor"></i></div>
                        <h5 class="lined mb-4">1</h5>
                        <p class="text-muted text-small">1</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="icon mb-4"><i class="pe-7s-signal"></i></div>
                        <h5 class="lined mb-4">1</h5>
                        <p class="text-muted text-small">1</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="icon mb-4"><i class="pe-7s-id"></i></div>
                        <h5 class="lined mb-4">1 &amp; 1</h5>
                        <p class="text-muted text-small">1</p>
                    </div>
                </div> -->
            </div>
        </section>
        <section class="py-5 bg-gray">
            <div class="container py-5">
                <h2 class="lined mb-4">Wallpaper Gallery</h2>
                <p class="lead">Browse our editor-selected gallery of high resolution cocktail wallpapers.</p>
                <div class="row">
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[0]"
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[1]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[2]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[3]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[4]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[5]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[6]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[7]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                    <el-image 
                        style="width: 380px; height: 238px"
                        :src="wallpaperList[8]" 
                        :preview-src-list="wallpaperList">
                    </el-image>
                </div>
            </div>
        </section>
        <el-backtop target=".page-component__scroll .el-scrollbar__wrap" visibility-height="100px"></el-backtop>
        <my-footer></my-footer>
        
    </div>
</template>

<script>
import MyHeader from "./MyHeader.vue"
import MyFooter from "./MyFooter.vue"

export default {
    name: 'HomePage',
    components: {
        MyHeader,
        MyFooter,
    },
    data() {
        return{
            bannerHeight: "",
            imgList:[
                {
                    url: require("../assets/MainpageBackground.jpg")
                },
                {
                    url: require("../assets/Dry Martini Recipe.jpg")
                },
                {
                    url: require("../assets/4.jpg")
                },
                {
                    url: require("../assets/7.jpg")
                },
            ],
            wallpaperList:[
                
                "https://trinkreif.de/wp-content/uploads/sex-on-the-beach-rezept.jpg",
                
                "https://cdn.lifestyleasia.com/wp-content/uploads/2017/05/26191931/34515807550_3f4204fc39_o.jpg",
                
                "https://static.standard.co.uk/s3fs-public/thumbnails/image/2016/09/30/10/cocktails.jpg?width=1000&height=614&fit=bounds&format=pjpg&auto=webp&quality=70&crop=16:9,offset-y0.5",
                
                "https://cf.ltkcdn.net/cocktails/images/orig/251453-2121x1414-non-alcoholic-cocktails.jpg",
   
                "https://img.delicious.com.au/F_C2-w6_/w759-h506-cfill/del/2015/11/summer-cocktails-24374-3.jpg",
                
                "https://i.ndtvimg.com/i/2015-04/cocktails_625x350_61427970371.jpg",
                
                "https://144f2a3a2f948f23fc61-ca525f0a2beaec3e91ca498facd51f15.ssl.cf3.rackcdn.com/uploads/food_portal_data/recipes/recipe/hero_article_image/4311/letterbox_gincocktails.jpg",
                
                "https://www.foxandbriar.com/wp-content/uploads/2016/03/Irish-Mule-9-of-15.jpg",
                
                "https://1qb1ow3qfudf14kwjzalxq61-wpengine.netdna-ssl.com/wp-content/themes/flathead-beacon/library/includes/thumb.php?src=/wp-content/uploads/2019/08/20190809_GLACIER_DISTILLING068.jpg&w=900&h=600",
                
            ]
        }
    },

    methods: {
    imgLoad(){
            this.$nextTick(() => {
                this.bannerHeight = this.$refs.bannerHeight[0].height
                console.log(this.$refs.bannerHeight[0].height);
            })
        }
    },
    mounted() {
        this.imgLoad();
        window.addEventListener('resize', () => {
            this.bannerHeight = this.$refs.bannerHeight[0].height
            this.imgLoad();
        }, false)
    },
}
</script>

<style scoped>
body {
  overflow-x: hidden;
}

.text-small {
  font-size: 0.9rem !important;
}

strong {
  font-weight: 700;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center center !important;
}

h1{
    margin-top: 10px;
}

@media (min-width: 992px) {
  .hero-heading {
    font-size: 3.7rem !important;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hero-overlay + * {
  z-index: 2;
  position: relative;
}

section {
  position: relative;
  z-index: 1;
}

.bg-gray {
  background: #f7f7f7 !important;
}

.lined::after {
  content: '';
  display: block;
  width: 2.8rem;
  margin: 0.5rem 0;
  height: 1px;
  background: #2b90d9;
}


.text-gray {
  color: #ccc !important;
}

.text-muted {
  color: #999999 !important;
}

#map {
  height: 500px;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 550px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .bannerImg{
      max-height: 700px;
  }
  .el-carousel{
      margin-top: 20px;
  }
</style>