<template>
    <div id="app">
        <h5 class="mb-4">Leave comment</h5>
        <form id="contact-form" @submit="passComment()" method="post" action="contact.php" class="contact-form form">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="name" class="font-weight-normal">Name <span class="text-primary">*</span></label>
                    <input id="name" type="text" name="name" class="form-control" v-model="name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="email" class="font-weight-normal">Email <span class="text-primary">*</span></label>
                    <input id="email" type="email" name="email" class="form-control" v-model="email">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="message" class="font-weight-normal">Comment <span class="text-primary">*</span></label>
                    <textarea id="message" rows="3" name="message" class="form-control" v-model="message"></textarea>
                </div>
                <div class="form-group col-lg-12 text-right">
                    <el-button type="submit" class="btn btn-outline-primary" > 
                        <i class="el-icon-chat-line-round"> </i>Post comment</el-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    name: "LeaveComment",
    data() {
        return {
            name: '',
            email: '',
            message: '',
        }
    },
}
</script>

<style scoped>
    .el-icon-chat-line-round{
        margin-right: 10px;
    }
</style>