<template>
    <div id="app">
        <div class="login-left">
            <login-window></login-window>
        </div>
        <div class="login-right">
            <img :src="background" alt="background" id="background">
            <h1>Alcoholic 101</h1>
            <h2>For Cocktail Lovers, By Cocktail Lovers</h2>
            <h2></h2>
        </div>
    </div>
</template>

<script>
import backgroundImg from "../assets/Old Fashioned Recipe.jpg"
import LoginWindow from "./LoginWindow.vue"

export default {
    name: 'LoginMain',
    components: {
        LoginWindow
    },
    data() {
        return {
            background: backgroundImg,
        }
    }
}
</script>

<style scoped>
    #app{
        text-align: center;
    }
    .login-left{
        display: inline-block;
        max-width: 40%;
        position: relative;
    }
    .login-right{
        float: right;
        width: 1300px;
        position: relative;
    }
    h1{
        font-weight: bold;
        color: #ffffff;
        z-index: 2;
        position: absolute;
        top: 150px;
        right: 500px;
        font-size: 50px;
        font-family: Georgia, serif
    }
    h2{
        font-weight: bold;
        color: #ffffff;
        z-index: 2;
        position: absolute;
        top: 250px;
        right: 200px;
        font-size: 25px;
        font-family: Georgia, serif
    }
    #background{
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-image: url(https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png);
        background-repeat: no-repeat;
        background-color: #b8e5f8;
        background-size: cover;
        width: 100%;
        height: 100vh;
        overflow: auto;
        opacity: 0.9;
    }
</style>

