<template>
    <div id="box">
        <img :src="logoImg" alt="logo" id="logo">
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px">
            <el-form-item>
                <el-input v-model="ruleForm.username" placeholder="Your username or email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item >
                <el-input v-model="ruleForm.pass" type="password" placeholder="Password" autocomplete="off"></el-input>
            </el-form-item>
             <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">Login</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
import logo from "../assets/logo.png"

export default {
    name: 'LoginWindow',
    data() {
      var validateName = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('Please enter correct username'))
        }
      }
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please enter password'));
        } else if (value.length() < 8 || value.length() > 16) {
          callback(new Error('Password must be in correct length'))
        }
      };
      return {
        logoImg: logo,
        ruleForm: {
          username: '',
          pass: '',
        },
        rules: {
          username:[
            { validator: validateName, trigger: 'blur' }
          ],
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
        }
      };
    },
    methods: {
      submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    alert('Login successfully!');
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
    }
}
</script>

<style scoped>
    #logo{
        margin: 0 auto;
        margin-left: 80px;
    }
    #box{
        text-align: center;
        z-index: 2;
        box-sizing: border-box;
        position: absolute;
        margin: 200px 0 0 -250px; 
        top: 50%;
        min-width: 0;
        padding: 30px;
        padding-right: 100px;
        background-color: #F2F6FC;
        box-shadow: 0 1px 3px rgba(26,26,26,0.1);
        border-radius: 8px;
        width: 500px;
        overflow: hidden;
    }
</style>