<template>
    <div id="app">
        <my-header></my-header>
        <my-main pageName="MANHATTAN" 
            :para1="para1"
            :imgPath1="imgPath1"
            :imgCaption1="imgCaption1"
            :imgPath2="imgPath2"
            :imgCaption2="imgCaption2"
            :para2="para2"
            :title1="title1"
            :para3="para3"
            :para4="para4"
            :para5="para5"
        ></my-main>
        <my-footer></my-footer>
    </div>
</template>
<script>
import MyHeader from './MyHeader.vue'
import MyMain from './MyMain.vue'
import MyFooter from './MyFooter.vue'

export default {
    name:'OldFashion',
    components: {
        MyHeader,
        MyMain,
        MyFooter
    },
    data() {
        return{
            para1: "The greatness of the Manhattan cocktail was recognized while it was still in its hot youth,"+
                "back in the 1880s, and its acclaim lasted long into the 20th century. And if the last decades of that difficult"+
                "century saw the drink reduced to playing the dinner-theater circuit, as it were, the first (difficult) decades"+
                "of the present century have seen it come swaggering back, starring again in the biggest shows on Broadway.",
            imgPath1: require("../assets/Manhattan.webp"),
            imgCaption1: "Photography Credit: Getty",
            imgPath2: require("../assets/Manhattan Recipe.jpg"),
            imgCaption2: "Photography Credit: Real Housemoms",
            para2: "<strong>Unlike some drinks</strong>—the Singapore Sling comes to mind—the Manhattan today is remarkably like"+
                    "the <strong>Manhattan of 1900</strong>, at least if the liberally-inked young mixologists who are stirring"+
                    "up most of our fancy drinks these"+
                    "days can be persuaded to refrain from “improving” it with the various amari, mezcals, infusions and whatnot"+
                    "that they splash around so freely."+
                "</p>"+
                "<p>"+
                    "The standard Manhattan—two parts rye, one part sweet vermouth, two dashes bitters, up with a cherry or"+
                    "twist—has survived good times and bad, wars, recessions, Prohibition, the Depression, cultural upheavals,"+
                    "and, comfortingly, any number of truly terrible presidential administrations. It sailed through the Taft"+
                    "years and the Hoover ones; Nixon couldn’t kill it and Bush Jr. actually gave it strength. It will survive"+
                    "Trump, even if the rest of our society doesn’t.",
            title1: "<h2 class='my-4'>It Changed the Face of Cocktails</h2>",
            para3: "<blockquote class='blockquote my-4'>--- wrote bartending legend Gary Regan in the Joy of Mixology. “Quite"+
                    "simply, when properly constructed, it is the finest cocktail on the face of the Earth.”"+
                    "</blockquote>",
            para4: "<h3 class='mb-4'>How Did Manhattan Come to This World</h3>"+
            "<p class='mb-4'>Like so many cocktails, the origins of the Manhattan are lost in time. And, as neither the"+
                "name nor the ingredients are so unusual as to prevent inadvertent duplication, the mystery is likely to"+
                "remain unsolved."+
            "</p>"+
            "<p class='mb-4'>There are also claims that the margarita was first mixed in Juárez, Chihuahua at Tommy's Place"+
                "Bar on July 4, 1942 by Francisco 'Pancho' Morales. Morales later left bartending in Mexico to become a US"+
                "citizen, where he worked as a milkman for 25 years. Mexico's official news agency Notimex and many experts"+
                "have said Morales has the strongest claim to having invented the margarita."+
            "</p>"+
            "<p class='mb-4'>The first known written mention of the Manhattan is in a September 1882 article of the Olean, New York,"+
                "<i>Sunday Morning Herald</i>."+
                "<i>'It is but a short time ago that a mixture of whiskey, vermouth and bitters came into vogue.'</i>"+
                "The same article causes some confusion when it goes on to discuss the name of this concoction, "+
                "'<i>It went under various names - Manhattan cocktail, Turf Club cocktail, and Jockey Club cocktail.</i>'"+
                ""+
            "</p>"+
            "<p class='mb-4'>Until fairly recently, it was widely and wrongly believed that the Manhattan was first created in November"+
                "1874 at New York City's Manhattan Club for Lady Randolph Churchill (née Jenny Jerome), at a banquet to"+
                "celebrate the successful gubernatorial campaign of Samuel Jones Tilden. (The Manhattan Club was opposite the"+
                "site that now houses the Empire State Building.) However, drinks historian"+
                "<a href='/people/3554/david-wondrich'>David Wondrich</a>"+
                "has pointed out that the celebratory banquet in question was held in November 1874, during the period when"+
                "Lady C was in England, giving birth to Winston - indeed, the banquet was held on the day Winston was"+
                "christened at Blenheim."+
            "</p>",
            para5:"<h3 class='mb-4'>Whiskey, Sweet Vermouth and Bitters</h3>"+
            "<ul>"+
                "<li>...this incredibly simple formula produces the Manhattan.</li>"+
            "</ul>"+
            "<p>It is an"+
                "<a href='https://en.wikipedia.org/wiki/List_of_IBA_official_cocktails' target='_blank'>"+
                "IBA Official Cocktail"+
                "</a>."+
            "</p>"+
            "<p>While the ratio of its ingredients has certainly fluctuated over time and can vary from bartender to"+
                "bartender, the drink is fairly straightforward to make."+
            "</p>"+
            "<p>"+
                "On the small North Frisian island of Föhr, the Manhattan cocktail is a standard drink at almost every cafe,"+
                "restaurant, and 'get together' of locals. The story goes that many of the people of Föhr emigrated to"+
                "Manhattan during deep sea fishing trips, took a liking to the drink, and brought it back to Föhr with them."+
                "The drink is usually mixed 1 part vermouth to 2 parts whiskey, with a dash of bitters, served ice cold, in"+
                "an ice cold glass, or with ice and a cherry garnish."+
            "</p>"+
            "<p>"+
                "Traditional views insist that a Manhattan be made with American rye whiskey. However it can also be made"+
                "with bourbon or Canadian whisky. The Manhattan is subject to considerable variation and innovation, and is"+
                "often a way for the best bartenders to show off their creativity. Some shake the ingredients with ice in"+
                "a cocktail shaker instead of stirring it, creating a froth on the surface of the drink. Angostura is the"+
                "classic bitters, but orange bitters or Peychaud's Bitters may be used. Some make their own bitters and"+
                "syrups, substitute comparable digestifs in place of vermouth, specialize in local or rare whiskeys, or use"+
                "other exotic ingredients. A lemon peel may be used as garnish. Some add juice from the cherry jar or"+
                "Maraschino liqueur to the cocktail for additional sweetness and color."+
            "</p>"
        }
    }
}
</script>

<style scoped>

</style>