<template>
    <div id="app">
        <my-header></my-header>
        <my-main pageName="MARGARITA" 
            :para1="para1"
            :imgPath1="imgPath1"
            :imgCaption1="imgCaption1"
            :imgPath2="imgPath2"
            :imgCaption2="imgCaption2"
            :para2="para2"
            :title1="title1"
            :para3="para3"
            :para4="para4"
            :para5="para5"
        ></my-main>
        <my-footer></my-footer>
    </div>
</template>
<script>
import MyHeader from './MyHeader.vue'
import MyMain from './MyMain.vue'
import MyFooter from './MyFooter.vue'

export default {
    name:'OldFashion',
    components: {
        MyHeader,
        MyMain,
        MyFooter
    },
    data() {
        return{
            para1: "The margarita, the quintessential cocktail, seemingly the unbeatable king of the tequila"+
                    "family. Starting from"+
                    "humble origins in Mexico badlands, this drink has risen to become the favorite beverage of suave socialites and"+
                    "partying sorority girls alike.",
            imgPath1: require("../assets/Margarita.jpg"),
            imgCaption1: "Photography Credit: Unknown",
            imgPath2: require("../assets/Margarita Recipe.jpg"),
            imgCaption2: "Photography Credit: Kitchen Stories",
            para2: "<p>"+
                        "So how to explain this cocktail's unwavering popularity? Like all good things, the key to the margarita is"+
                        "its <strong>simplicity</strong>. The pairing of only <strong>three easily attainable ingredients</strong> to"+
                        "form this magical elixir leaves endless room for customization, or for no-nonsense minimalism. Of course, at"+
                        "the end of the day, the reason the drink has had so much staying power is the flavor — a mix of sweet, tart,"+
                        "and sometimes a little salt."+
                    "</p>"+
                    "<p>"+
                        "The history of the margarita is one that has been debated feverishly since the 1940s, with everyone from"+
                        "Margaret Sames and Marjorie King to even Peggy Lee bragging that they had a hand in its creation."+
                    "</p>"+
                    "<p>"+
                        "The margarita has experienced many changes in its years, including the introduction of the salted rim (to"+
                        "mimic a tequila shot), the invention of the frozen margarita, and the addition of new flavors. But, at its"+
                        "most basic, the drink is a combination of tequila, orange liqueur, and lime juice (with the lime juice and"+
                        "orange liqueur typically added in equal parts). From there, the door to creative interpretations opens —"+
                        "using lemon juice instead of lime, adding muddled jalapeños for heat, topping with champagne to make a"+
                        "sparkling cocktail."+
                    "</p>",
            title1: "<h2 class='my-4'>It's the 'Daisy'</h2>",
            para3: "<blockquote class='blockquote my-4'>While there are countless stories to be told about the cocktail's origins,"+
                    "most historians nowadays believe that the drink started as a variation on the Brandy Daisy, a drink from the"+
                    "late 1800s, with tequila substituted in for brandy. Incidentally, “margarita” is Spanish for “daisy.”"+
                    "</blockquote>",
            para4: "<h3 class='mb-4'>How Did Margarita Come to This World</h3>"+
            "<p class='mb-4'>1937 Cafe Royal Cocktail Book contains a recipe for a Picador using the same concentrations of"+
                "tequila, triple sec and lime juice as a margarita. One of the earliest stories is of the margarita being"+
                "invented in 1938 by Carlos 'Danny' Herrera at his restaurant Rancho La Gloria, halfway between Tijuana and"+
                "Rosarito, Baja California, created for customer and former Ziegfeld dancer Marjorie King, who was allergic"+
                "to many spirits, but not to tequila. This story was related by Herrera and also by bartender Albert"+
                "Hernandez, acknowledged for popularizing a margarita in San Diego after 1947, at the La Plaza restaurant in"+
                "La Jolla."+
            "</p>"+
            "<p class='mb-4'>There are also claims that the margarita was first mixed in Juárez, Chihuahua at Tommy's Place"+
                "Bar on July 4, 1942 by Francisco 'Pancho' Morales. Morales later left bartending in Mexico to become a US"+
                "citizen, where he worked as a milkman for 25 years. Mexico's official news agency Notimex and many experts"+
                "have said Morales has the strongest claim to having invented the margarita."+
            "</p>"+
            "<p class='mb-4'>Others say the inventor was Dallas socialite Margarita Sames, when she concocted the drink for"+
                "her guests at her Acapulco, Guerrero vacation home in 1948. Tommy Hilton reportedly attended, bringing the"+
                "drink back to the Hilton chain of hotels. However, Jose Cuervo was already running ad campaigns for the"+
                "margarita three years earlier, in 1945, with the slogan, 'Margarita: It's more than a girl's name.'"+
                "According to Jose Cuervo, the cocktail was invented in 1938 by a bartender in honor of Mexican showgirl Rita"+
                "de la Rosa."+
            "</p>"+
            "<p class='mb-4'>Another common origin tale begins the cocktail's history at the legendary Balinese Room in"+
                "Galveston, Texas where, in 1948, head bartender Santos Cruz created the margarita for singer Peggy"+
                "(Margaret) Lee. He supposedly named it after the Spanish version of her name, Margarita."+
            "</p>",
            para5:"<h3 class='mb-4'>Flavoured, Fruits, or Frozen</h3>"+
            "<ul>"+
                "<li>...Margaritas come in a variety of flavors and colors.</li>"+
            "</ul>"+
            "<p>The <a href='https://en.wikipedia.org/wiki/List_of_IBA_official_cocktails' target='_blank'>IBA (IBA Official list of"+
                "Cocktails)</a>"+
                "standard is 10:4:3, that is tequila:triple sec:fresh lime juice."+

                "The 'Original Margarita' recipe as given by Cointreau on their website has slightly more of their own sweet"+
                "liqueur: 1 part white tequila, ​1⁄2 part Cointreau, and ​1⁄2 part fresh squeezed lime juice."+
            "</p>"+
            "<p>Alternate fruits and juice mixtures can also be used in a margarita. Fruits like mango, peach,"+
                "strawberry, banana, melon, raspberry, or avocado are suitable for creating this drink. Orange juice"+
                "and pomegranate juice (poured down the inner side of the glass) can make a sunset margarita (so named"+
                "because the orange is at the top and the red at the bottom). Many recipes call for a splash of orange"+
                "juice. These days, margarita can be prepared in many different ways. When the word 'margarita' is used by"+
                "itself, it typically refers to the lime or lemon juice margarita, but when other juices are used, the fruits"+
                "are typically added as adjectives in the name; with lime juice or lemon juice added to give it a"+
                "characteristic margarita flavor (a wedge of lime is often added to the glass). Other varieties of margarita"+
                "include fruit margarita, top-shelf margarita and virgin margarita."+
            "</p>"+
            "<p>"+
                "Coconut cream, coconut milk, and coconut water can also be added to margaritas, e.g. skinny"+
                "margaritas that substitute, e.g., pineapple juice for liqueurs."+
            "</p>"+
            "<p>"+
                "Margaritas can also be made with vegetables such as carrots, beets, cucumber, and celery."+
            "</p>"
        }
    }
}
</script>

<style scoped>

</style>