<template>
    <footer style="background: #eee;" class="pt-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-4">
          <h5 class="lined lined-dark mb-3">About Alcoholic 101</h5>
          <p class="text-muted text-small">For Cocktail Lovers.</p>
          <p class="text-muted text-small">By Cocktail Lovers.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="lined lined-dark mb-3">Our offices</h5>
          <h6>Singapore</h6>
          <p class="text-muted mb-0 text-small">35 Prince George's Park</p>
          <p class="text-muted mb-4 text-small">Mobile + 65 9999 9999 </p>
          <h6>Paris</h6>
          <p class="text-muted mb-0 text-small">Champ de Mars</p>
          <p class="text-muted mb-0 text-small">5 Avenue Anatole France</p>
          <p class="text-muted mb-0 text-small">Mobile + 28 8888 8888 </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="lined lined-dark mb-3">Popular Categories</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link text-small">Most Liked Cocktails</a></li>
            <li><a href="#" class="footer-link text-small">Most Viewed Cocktails</a></li>
            <li><a href="#" class="footer-link text-small">Useful Links</a></li>
            <li><a href="#" class="footer-link text-small">Feedback</a></li>

          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="lined lined-dark mb-3">Let's be friends</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-google-plus-g"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="lined lined-dark mb-3">News and Updates</h5>
          <p class="text-muted mb-4 text-small"> Sign up to get weekly portion of fresh jobs and news from us.
            <form action="#">
              <div class="input-group mb-3">
                <input type="text" placeholder="Recipient's username" aria-label="Recipient's username"
                  aria-describedby="basic-addon2" class="form-control">
                <div class="input-group-append">
                  <el-button id="basic-addon2" type="submit" class="input-group-text"><i
                      class="el-icon-s-promotion"></i></el-button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <div class="bg-dark py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left mb-1 mb-lg-0">
            <p class="small text-gray mb-0" id="bottommost">©2020 Alcoholic 101</p>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
            <p class="small text-gray mb-0" id="bottommost">Proudly presented by
              <a href=# target="_blank">
                Feng Yuan
              </a>
              &
              <a href=# target="_blank">
                Yang Yuzhao
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
    name: "MyFooter",
}
</script>

<style scoped>
    #bottommost{
        color: #ffffff;
    }
</style>