<template>
    <div class="header">
    <nav class="navbar navbar-expand-lg py-lg-0">
      <div class="container">
        <a href="#" class="navbar-brand text-uppercase font-weight-bold">
          alcoholic 101
        </a>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto d-lg-flex align-items-lg-center">
              <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" 
              @select="handleSelect" text-color="#000" active-text-color="#2b90d9">
                <el-menu-item index="1"><a href="index.html" target="_blank">HOME</a></el-menu-item>
                <el-submenu index="2">
                  <template slot="title">Popular Cocktail</template>
                  <el-menu-item index="2-1">OLD FASHIONED</el-menu-item>
                  <el-menu-item index="2-2">DRY MARTINI</el-menu-item>
                  <el-menu-item index="2-3">MARGARITA</el-menu-item>
                  <el-menu-item index="2-4">MANHATTAN</el-menu-item>
                </el-submenu>
                <el-menu-item index="3"><a href="https://www.ele.me" target="_blank">ABOUT US</a></el-menu-item>
              </el-menu>
            <div class="line"></div>
          </div>
        </div>
        <el-button type="primary" icon="el-icon-s-home">LOGIN</el-button>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
    name:'MyHeader'
}
</script>

<style scoped>
  .el-menu{
    font-family: "Roboto", sans-serif; 
    font-size: 3rem;
    font-weight: 400;
  }

.navbar-brand {
  color: #2b90d9;
  transition: all 0.3s;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #000;
}

.navbar .nav-link {
  font-size: 0.9rem;
  color: #000;
  border-top: 2px solid transparent;
  transition: all 0.3s;
}

.navbar .nav-link:hover, .navbar .nav-link:focus, .navbar .nav-link.active {
  color: #2b90d9;
}

@media (min-width: 992px) {
  .navbar .nav-link:hover, .navbar .nav-link:focus, .navbar .nav-link.active {
    border-color: #2b90d9;
  }
}

@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    border: none;
  }
}

.el-button{
  margin-left: 50px;
}
</style>