<template>
    <div class="py-5 bg-cover bg-gray">
        <div class="container py-5">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }">HOME</el-breadcrumb-item>
                <el-breadcrumb-item>POPULAR COCKTAILS</el-breadcrumb-item>
                <el-breadcrumb-item>{{ pageName }}</el-breadcrumb-item>
            </el-breadcrumb>
            <h1 class="lined"> 
                {{ pageName }}  
            </h1>
            <p class="lead my-4">{{ para1 }}</p>
        </div>
        <figure><img :src="imgPath1" alt="Old Fashioned Cocktail" class="w-100">
                <figcaption class="text-muted text-center py-3 text-uppercase font-weight-bold small"> {{ imgCaption1 }}
            </figcaption>
        </figure>
        <section class="py-5">
        <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
            <p v-html="para2"> </p>
            <div v-html="title1"></div>
            <div v-html="para3" class="para3"></div>
            <div v-html="para4"></div>
            <fig>
                <img :src="imgPath2" alt="Old Fashioned Recipe" class="img-fluid mb-4">
                <figcaption class="text-muted text-center py-3 text-uppercase font-weight-bold small">
                {{ imgCaption2 }}
                </figcaption>
            </fig>
            <div v-html="para5"></div>
            <comment></comment>
            <leave-comment></leave-comment>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
import Comment from "./Comment.vue"
import LeaveComment from "./LeaveComment.vue"

export default {
    name: 'MyMain',
    components: {
        Comment,
        LeaveComment,
    },
    props: {
      'pageName': String,
       'para1': String,
       'imgPath1': String,
       'imgCaption1': String,
        'imgPath2': String,
       'imgCaption2': String,
       'para2': String,
       'title1': String,
       'para3': String,
       'para4': String,
       'para5': String,
    },
    data() {
        return {
        }
    },

    method: {
    }
}
</script>

<style scoped>
body {
  overflow-x: hidden;
}

.text-small {
  font-size: 0.9rem !important;
}

strong {
  font-weight: 700;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center center !important;
}

h1{
    margin-top: 10px;
}

@media (min-width: 992px) {
  .hero-heading {
    font-size: 3.7rem !important;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hero-overlay + * {
  z-index: 2;
  position: relative;
}

section {
  position: relative;
  z-index: 1;
}

.bg-gray {
  background: #f7f7f7 !important;
}

.lined::after {
  content: '';
  display: block;
  width: 2.8rem;
  margin: 0.5rem 0;
  height: 1px;
  background: #2b90d9;
}

.lined-primary::after {
  background: #2b90d9;
}

.lined-secondary::after {
  background: #6c757d;
}

.lined-success::after {
  background: #28a745;
}

.lined-info::after {
  background: #17a2b8;
}

.lined-warning::after {
  background: #ffc107;
}

.lined-danger::after {
  background: #dc3545;
}

.lined-light::after {
  background: #f8f9fa;
}

.lined-dark::after {
  background: #333333;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #2b90d9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2b90d9;
  font-size: 2.5rem;
}

.text-gray {
  color: #ccc !important;
}

.text-muted {
  color: #999999 !important;
}

#map {
  height: 500px;
}

section{
  background-color: #fff;
}

.para3{
  border-left: #2b90d9 5px solid ;
  padding-left: 30px;
}
</style>