<template>
    <div id="app">
        <my-header></my-header>
        <my-main pageName="OLD FASHIONED" 
            :para1="para1"
            :imgPath1="imgPath1"
            :imgCaption1="imgCaption1"
            :imgPath2="imgPath2"
            :imgCaption2="imgCaption2"
            :para2="para2"
            :title1="title1"
            :para3="para3"
            :para4="para4"
            :para5="para5"
        ></my-main>
        <my-footer></my-footer>
    </div>
</template>
<script>
import MyHeader from './MyHeader.vue'
import MyMain from './MyMain.vue'
import MyFooter from './MyFooter.vue'

export default {
    name:'OldFashion',
    components: {
        MyHeader,
        MyMain,
        MyFooter
    },
    data() {
        return{
            para1: "Brown and boozy, a little sweet and a little bitter — is there any other whiskey drink more" +
                "satisfying than the Old Fashioned? The drink defies its stuck-in-time title, and while it certainly went through"+
                "some less-than-ideal incarnations over the years, who hasn’t? Flip through your high school yearbook and take a"+
                "look at what wardrobe you were rockin’ junior year—we all make mistakes. But luckily, the Old Fashioned is one"+
                "cocktail that has never gone out of style. These are a half-dozen fun facts to stir conversation and thoughtful"+
                "sipping.",
            imgPath1: require("../assets/Old-Fashioned-Cocktail.jpg"),
            imgCaption1: "Photography Credit: Alison Bickel",
            imgPath2: require("../assets/Old Fashioned Recipe.jpg"),
            imgCaption2: "Photography Credit: Chowhound",
            para2: "<Strong>Spirit, sugar, water, bitters</Strong> — this is the technical"+
                 "definition of a cocktail. In a duo of articles in the Federalist newspaper from Hudson, N.Y, “The Balance"+
                "and Columbian Repository,” “cocktail” is mentioned in print twice in May 1806, with the second laying out"+
                "these four components, which, as a matter fact, sound an awful lot like the Old Fashioned.",
            title1: "<h2 class='my-4'>It’s the Very Definition of Cocktail</h2>",
            para3: "<blockquote class='blockquote my-4'>The old fashioned is a cocktail made by muddling sugar with bitters,"+
                "adding whiskey or, less commonly, brandy, and garnishing with a twist of citrus rind and a cocktail cherry."+
                "It is traditionally served in an old fashioned glass (also known as rocks glass), which predated the"+
                "cocktail."+

                "Developed during the 19th century and given its name in the 1880s, it is an <a"+
                "href='https://en.wikipedia.org/wiki/List_of_IBA_official_cocktails' target='_blank'>IBA Official"+
                "Cocktail</a>. It is"+
                "also one of six basic drinks listed in David A. Embury's <a"+
                "href='https://en.wikipedia.org/wiki/The_Fine_Art_of_Mixing_Drinks' target='_blank'><i>Fine Art of Mixing"+
                    "Drinks.</i></a>"+
            "</blockquote>",
            para4: "<h3 class='mb-4'>How did Old Fashioned come to this world</h3>"+
            "<p class='mb-4'>The first documented definition of the word 'cocktail' was in response to a reader's letter"+
                "asking to define the word in the May 6, 1806, issue of The Balance and Columbian Repository in Hudson, New"+
                "York. In the May 13, 1806, issue, the paper's editor wrote that it was a potent concoction of spirits,"+
                "bitters, water, and sugar; it was also referred to at the time as a bittered sling. J.E. Alexander"+
                "describes the cocktail similarly in 1833, as he encountered it in New York City, as being rum, gin, or"+
                "brandy, significant water, bitters, and sugar, though he includes a nutmeg garnish as well."+
            "</p>"+
            "<p class='mb-4'>By the 1860s, it was common for orange curaçao, absinthe, and other liqueurs to be added to"+
                "the cocktail."+
                "The original concoction, albeit in different proportions, came back into vogue, and was referred to as"+
                "'old-fashioned'. The most popular of the in-vogue 'old-fashioned' cocktails were made with whiskey,"+
                "according to a Chicago barman, quoted in the Chicago Daily Tribune in 1882, with rye being more popular than"+
                "Bourbon. The recipe he describes is a similar combination of spirits, bitters, water and sugar of"+
                "seventy-six years earlier."+
            "</p>"+
            "<p class='mb-4'>The first mention in print of 'old fashioned cocktails' was in the Chicago Daily Tribune in"+
                "February"+
                "1880. However, the Pendennis Club, a gentlemen's club founded in 1881 in Louisville, Kentucky, claims the"+
                "old fashioned cocktail was invented there. The recipe was said to have been invented by a bartender at that"+
                "club in honor of Colonel James E. Pepper, a prominent bourbon distiller, who brought it to the"+
                "Waldorf-Astoria Hotel bar in New York City."+
            "</p>"+
            "<p class='mb-4'>With its conception rooted in the city's history, in 2015 the city of Louisville named the old"+
                "fashioned as"+
                "its official cocktail. Each year, during the first two weeks of June, Louisville celebrates 'Old Fashioned Fortnight'"+
                 "which encompasses bourbon events, cocktail specials and National Bourbon Day which is always"+
                "celebrated on June 14."+
            "</p>",
            para5:"<h3 class='mb-4'>It Began as the Whiskey Cocktail</h3>"+
            "<ul>"+
                "<li>...but you can make it with Brandy.</li>"+
            "</ul>"+
            "<p>The Old Fashioned is a cocktail of evolution. There really is no person to pin for its so-called invention"+
                "(sorry, Pendennis Club, although we hear you make a really good one). What we do know is that by the time"+
                "cocktail recipe books began appearing in the late 19th century, what we basically would call an Old"+
                "Fashioned today was often under the title of Whiskey Cocktail."+

                "Perusing the pages of different iterations of barman Harry Johnson’s “Bartenders’ Manual” is an excellent"+
                "example of seeing that change over time. The 1887 first edition offers up the Whiskey Cocktail with gum"+
                "syrup, ice, Angostura or Boker’s bitters, a couple of dashes of curaçao, and whiskey. By 1887, he ditched"+
                "the Angostura. By 1900, he swapped the syrup for raw sugar and called for a couple of dashes of curaçao or"+
                "absinthe. All iterations got a lemon twist expressed over the top. Go figure."+
            "</p>"+
            "<p>The Old Fashioned is a perfect receptacle for Wisconsin’s beloved brandy, a spirit cherished and carried"+
                "over by the many German immigrants who settled in the state in the late 19th century,” says Wisconsin-born"+
                "Robert Simonson, author of “The Old-Fashioned: The Story of the World’s First Classic Cocktail with Recipes"+
                "&"+
                "Lore.” “These days, I doubt most Wisconsinites think hard about the origins of the Brandy Old Fashioned,"+
                "where"+
                "it came from and why they drink so many of them. It would be like questioning heavy snowfall in January."+
                "Wisconsin, more than most states, is a great incubator of old drinking styles and traditions. Once they"+
                "latch"+
                "onto something, they don’t let go, and they’re not easily swayed by trends, which they rightly eye with"+
                "skepticism.”"+
            "</p>"
        }
    }
}
</script>

<style scoped>

</style>