<template>
    <p class="mb-4"> {{ content }} </p>
</template>

<script>
export default {
    name: "paragraph",
    data() {
        return{
            content: ""
        }
    }
}
</script>

<style scoped>
    
</style>